@media (min-width:768px) {
  #judge{
    display: none;
  }
}
body {
  color: #363636;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0;
}

.font-blank {
  color: #000;
}

.container {
  padding: 0 12px;
}

.title-h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.title-sub {
  width: 94%;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.section-box {
  padding: 40px 0;
}

/* header */

.header {
  height: 470px;
  padding-top: 20px;
  background: url('../image/m-banner.png') no-repeat;
  background-size: cover;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.logo {
  width: 98px;
  height: 20px;
}

.icon-gutter {
  display: block;
  width: 19px;
  height: 2px;
  background: #fff;
}

.icon-gutter:not(:last-child) {
  margin-bottom: 3px;
}

.goddess-wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 29px;
  margin: 116px auto;
  border: 1px solid #F54444;
  color: #fff;
}

/* 女神链描述 */

.gc-des-item {
  display: flex;
}

.gc-des-item:not(:last-child) {
  margin-bottom: 30px;
}

.gc-des-item>div {
  flex: 1;
}

.gc-des-item>span {
  margin-right: 12px;
}

/* 女神链组成 */

.goddess-chain-constitute {
  background: #f4f4f4;
}

.gc-constitute-item:not(:last-child) {
  margin-bottom: 30px;
}

.gcc-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.gcci-title-text {
  margin-left: 7px;
  color: #000;
}

/* 女神链优势 */

.goddess-chain-advantage {
  background: #757575;
  color: #fff;
}

.gc-advantage-item {
  display: flex;
  align-items: top;
}

.gc-advantage-item:not(:last-child) {
  margin-bottom: 30px;
}

.gc-advantage-item>span {
  margin-right: 12px;
}

.gc-advantage-item>div>p:first-child {
  font-weight: 600;
}

/* 应用场景 */

.goddess-chain-application .title-h3 {
  margin-bottom: 10px;
}

.gc-application-list {
  padding: 0 51px;
}

.gc-application-row {
  display: flex;
  justify-content: space-between;
}

.gc-application-row:not(:last-child) {
  margin-bottom: 30px;
}

.gc-application-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gc-application-item img {
  width: 28px;
  height: 28px;
  margin-bottom: 12px;
  border-radius: 50%;
}

/* 女神钱包 */

.goddess-chain-wallet {
  background: #E5E5E5;
}

.goddess-chain-wallet .title-sub:nth-of-type(1) {
  margin-bottom: 0;
}

.gc-application-img {
  width: 256px;
  height: 253px;
}

/* 白皮书 */

.gc-book-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 6px;
}

.gc-book-list img {
  width: 100px;
  height: 144px;
}

.gcb-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.gcb-download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 29px;
  margin: auto;
  margin-top: 16px;
  border: 1px solid #F54444;
}

/* header */

.footer {
  background: #363636;
  color: #fff;
}

.footer-logo {
  width: 64px;
  height: 14px;
  margin-bottom: 29px;
}

.footer-list {
  font-size: 11px;
  padding: 0 20px;
}

.footer-list-row {
  display: flex;
}
.footer-list-row:not(:last-child){
  margin-bottom: 20px;
}

.footer-item {
  display: flex;
  align-items: center;
  width: 33.33%;
}

.footer-item img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 50%;
}

.footer-info{
  width: 228px;
  font-size: 11px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}